.list-group-item {
    .glyphicon {
        padding: 0 20px;
        float:right;
        cursor:pointer;
    }
    .glyphicon-remove{
        color: #d23e3e;
    }
    .glyphicon-ok{
        color: #4caf50
    }
}